<a href="https://colab.research.google.com/github/lg960214/DACON_Seoul_6/blob/feat%2Fksh/populationT2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import pandas as pd

In [8]:
df=pd.read_csv('/content/drive/MyDrive/DACON6/서울시 인구 거주/서울시 행정동 단위 생활인구/LOCAL_PEOPLE_DONG_202101.csv', encoding='utf-8')

In [9]:
df

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
20210101,0,11110515,14473.8890,504.7535,321.6298,474.2765,624.4867,507.3616,405.9607,558.5506,...,459.3872,534.8354,673.7167,746.3401,609.6886,590.1671,422.7630,339.8220,1138.9208,NaN
20210101,0,11110530,13299.5313,364.9421,162.1967,254.0620,318.9359,449.9919,419.8851,639.6014,...,537.1230,667.1788,565.2750,603.2522,522.3540,543.4003,447.2674,363.1686,1138.6352,NaN
20210101,0,11110550,15518.3772,418.3329,324.3693,380.5245,529.5754,470.6277,415.8823,453.7493,...,448.0938,621.1825,636.9613,840.1881,692.5841,693.3884,630.9412,421.9502,1456.3029,NaN
20210101,0,11110600,5108.9481,122.7939,86.6778,90.4754,203.9829,137.2541,124.3374,182.8768,...,180.1318,183.2139,268.8835,268.7073,247.4089,227.3631,163.6567,135.4872,406.3143,NaN
20210101,0,11110700,7907.7246,224.1087,106.2126,153.8756,194.7256,272.8423,315.6010,360.6354,...,279.1961,309.0617,316.6311,371.2800,370.3215,377.7498,258.4794,213.1911,532.8069,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20210131,23,11470580,13477.3126,367.4957,188.3416,279.4170,487.2576,426.6811,536.8015,462.8956,...,420.6785,492.6904,477.3986,511.7725,507.1605,657.2908,591.5511,434.6133,994.8208,NaN
20210131,23,11740570,32828.2745,1161.0589,603.8157,769.0843,830.8423,1116.4241,1129.5994,1320.4485,...,1241.6452,1503.2470,1383.4357,1468.0560,1293.9911,1545.0148,1247.7359,1056.2560,2269.8120,NaN
20210131,23,11110570,8796.8252,324.5647,207.5701,237.2277,402.4081,247.6623,176.7515,262.7137,...,259.2867,328.4941,379.9175,428.3637,277.1523,357.1672,362.1518,202.9495,766.4490,NaN
20210131,23,11170590,11530.1964,364.2625,164.5508,317.2892,247.2042,397.0028,435.1226,600.2014,...,554.8838,634.2507,358.6247,483.4721,461.1658,428.5233,429.2874,326.0224,783.1501,NaN
20210131,23,11680610,38285.4736,1201.1674,1729.0452,2757.2895,1174.6706,1071.8820,880.4197,979.1051,...,909.5687,1048.7824,1650.7621,2484.0497,1515.1175,1230.6210,985.5425,824.2136,1871.4582,NaN